<%- include("header.ejs")%>

    
    
    
    <link rel="stylesheet"  href="/css/index.css">


<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">

      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/><img src="/images/img/sun.jpg" class="responsive"></svg>

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Nature </h1>
            <p>Look deep into nature, and then you will understand everything better</p>
           
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/><img src="/images/img/sanchi.jpg" class="responsive"></svg>

        <div class="container">
          <div class="carousel-caption">
            <h1>Historical places</h1>
            <p>Old ideas can sometimes use new buildings.</p>
            <p><a class="btn btn-lg btn-primary" href="heritage">Learn more</a></p>
          </div>
        </div>
      </div>

        <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/><img src="images/img/tiger.jpg" id="opacity" class="responsive"></svg>

        <div class="container">
          <div class="carousel-caption">
            <h1>Wildlife</h1>
            <p>If we don't have a place for nature in our heart, how can we expect nature to have a place for us.</p>
            <p><a class="btn btn-lg btn-primary" href="wildlife">Learn more</a></p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/><img src="/images/img/light.jpg" class="responsive"></svg>

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Fun Places</h1>
            <p>Life is either a daring adventure or nothing at all</p>
            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon " aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</main>

<div class="text-center ">
  <h1 class="h1">The heart of incredible India</h1>
 
  <div class="container-fluid" style="color: #444"><p style="margin-bottom: 3rem;">Madhya pradesh is paradise for nature lovers.
    <br>
    Explore the magnificent uniqueness of the heart of India “Incredible Madhya Pradesh“.
    <br>
    When the world starts to move again , find your dream destination here .</p>
</div>
</div>




<div class="container">
  <div class="row">

    <div class="col-lg-4 col-md-12 col-sm-12 col-12">
        <h1>Discover Madhya Pradesh</h1>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6 col-6 " >
      <div class="hover">
      <img class="img-responsive" src="images/img/culture.jpg" alt="" >
      <a href="culture">
      <div class="over">
           <h2>Culture</h2>
        </div>
      </a>
    </div>
    
</div>


    <div class="col-lg-4 col-md-6 col-sm-6 col-6 ">
        <div class="hover">
      <img class="img-responsive" src="images/img/history.jpg" alt="" >
      <a href="heritage">
      <div class="over">
           <h2>Heritage</h2>
        </div>
        </a>
    </div>
    </div>
  
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 ">
        <div class="hover">
      <img class="img-responsive" src="images/img/nature.jpg" alt="">
      <a href="nature">
      <div class="over">
           <h2>Nature</h2>
        </div>
        </a>
    </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6 col-6 ">
        <div class="hover">
      <img class="img-responsive" src="images/img/adventure.jpg" alt="">
      <a href="adventure">
        <div class="over">
           <h2>Adventure</h2>
        </div>
        </a>
    </div>
    </div>
   
    <div class="col-lg-4 col-md-6 col-sm-6 col-6 ">
        <div class="hover">
      <img class="img-responsive" src="images/img/Wildlife.jpg" alt="">
      <a href="wildlife">
        <div class="over">
           <h2>Wildlife</h2>
        </div>
        </a>
    </div>
    </div>

    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 ">
        <div class="hover">
      <img class="img-responsive" src="images/img/amarkantak.jpg" alt="">
      <a href="reccom">
        <div class="over">
           <h2>Recommended Trips</h2>
        </div>
        </a>
    </div>
    </div>

  </div>
</div>

<hr style="margin: 1rem;">
<div class="text-center">
  <h1 class="h1" style="margin-top: 2rem;">Reasons To Explore MP </h1>
</div>


    <section class="container-fluid ">
        <div class="row align-items-center content">
            <div class="col-md-6 order-2 order-md-1">
              <div class="hover">
                <img src="https://www.holidify.com/images/bgImages/PACHMARHI.jpg" alt="" class="img-fluid">
            </div>
          </div>
            <div class="col-md-6 text-center order-1 order-md-2">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2>Nature Beauty</h2>
                        <p class="lead">Natural wonders of Madhya Pradesh confirm the fact that nature has blessed this part of the country in the best manner possible. Holding the central position in India, both geographically and usefully, Madhya Pradesh is rightly called ‘The Heart of India’.

                          
                            </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center content">
            <div class="col-md-6 text-center">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2>Waterfalls</h2>
                        <p class="lead">Bahuti is the highest waterfall in Madhya Pradesh. It is on the river Sellar as it rushes down the edge of the Valley of Mauganj to join the Bihad River, which is a tributary of Tamsa or Tons River. It is near Chachai Falls. It has a height of 198 metres (650 ft).
                         .</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
              <div class="hover">
                <img src="/images/img/waterfall.jpg" alt="" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="row align-items-center content">
            <div class="col-md-6 order-2 order-md-1">
              <div class="hover">
                <img src="https://images.thrillophilia.com/image/upload/s--uSEJiTF7--/c_fill,f_auto,fl_strip_profile,h_775,q_auto,w_1600/v1/images/photos/000/055/651/original/1550304812_shutterstock_1036392316.jpg.jpg?1550304812" alt="" class="img-fluid">
            </div>
          </div>
            <div class="col-md-6 text-center order-1 order-md-2">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2>Wildlife</h2>
                        <p class="lead">Madhya Pradesh, the land of diversity is one of the most exciting wildlife destinations in India. For avid nature lovers, there are 9 National Parks, 6 Tiger Reserves and 25 Wildlife Sanctuaries to quench the adventure thirst. The heart of India, Madhya Pradesh is a kaleidoscope of nature.
                         </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    


    <%- include("footer.ejs")%>




