<%- include("header.ejs")%>

<link rel="stylesheet"  href="/css/culture.css">

<section class="data">
    <img class="image" src="http://bestnewsgh.com/wp-content/uploads/2019/07/DEER.jpg">

     <section class="container-fluid ">
      
      <div class="row align-items-center content">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-1">Wildlife</h1>
          </div>
        </div>

          <div class="col-md-6 order-2 order-md-1">
            <div class="hover">
              <img src="https://blog.weekendthrill.com/wp-content/uploads/2016/06/1-21.jpg" alt="" class="img-fluid">
          </div>
        </div>
          <div class="col-md-6 text-center order-1 order-md-2">
              <div class="row justify-content-center">
                  <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                      <h2>Parks And Sanctuaries</h2>
                      <p class="lead">
                        There are 11 National Parks and 25 Sanctuaries spread over an area of 10,862 km2 constituting 11.40% of the total forest area and 3.52% of the geographical area of the state.
                          </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="row align-items-center content">
          <div class="col-md-6 text-center">
              <div class="row justify-content-center">
                  <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                      <h2>Forest Area</h2>
                      <p class="lead">Forest Area	95,221 km sq<br>
                        Protected Forest Area	10,862 km sq</p>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
            <div class="hover hover-r">
              <img src="https://image3.mouthshut.com/images/imagesp/925003714s.jpg" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="row align-items-center content">
          <div class="col-md-6 order-2 order-md-1">
            <div class="hover">
              <img src="https://scoutmytrip.com/blog/wp-content/uploads/2019/11/8769010_l.jpg" alt="" class="img-fluid">
          </div>
        </div>
          <div class="col-md-6 text-center order-1 order-md-2">
              <div class="row justify-content-center">
                  <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                      <h2>Tiger</h2>
                      <p class="lead">Madhya Pradesh is also known as the 'Tiger State' as it is a home of around 20% of India's tiger population and 10% of the world's tiger population.
                       </p>
                  </div>
              </div>
          </div>
      </div>
         <div class="row align-items-center content">
          <div class="col-md-6 text-center">
              <div class="row justify-content-center">
                  <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                      <h2>Kanha National Park</h2>
                      <p class="lead">Kanha National Park is one of the most maintained National Park in Asia. </p>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
            <div class="hover hover-r">
              <img src="https://www.travelseewrite.com/wp-content/uploads/2020/12/Timings-of-Jungle-Safari-in-Kanha-Tiger-Reserve-1-of-1.jpg" alt="" class="img-fluid">
          </div>
        </div>
      </div>

      <%- include("footer.ejs")%>
  </section>
