body {
    padding-top: 3rem;
    color: #5a5a5a;
    margin: 0;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
  
    width: 100vw;
  }
  
  .carousel-control-next-icon, .carousel-control-prev-icon {
     
     width: 3rem;
     height: 4rem;
     background-color: rgb(0,0,0,0.75);
  
  
  }
  .responsive {
    width: 100%;
    height: auto;
  }
  #opacity{
      opacity: 0.8;
  }
  .carousel {
    margin-bottom: 2rem;
  }
  
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  .carousel-item {
    height: 25rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 25rem;
  }
  
  
  .carousel-caption h1{
      font-family: 'Roboto', sans-serif;
      padding-bottom: 1.5rem;
      color:whitesmoke;
      font-size: 3rem;
  }
  
  /* GRID */
  
  .container .row img{
    display: inline-block;
    height: 300px;
    width: 100%;
    margin-bottom: 2rem;
    overflow: hidden;
    padding:0;
  
  }
  .container .row {
    overflow: hidden;
    padding:0;
  
  }
  
  /* SLIDE IN FROM LEFT */
  
  .home-intro {
    text-align: center;
  }
  
  .home-about {
    padding: 4em 0;
    margin: 0 auto;
  }
  
  .columns {
    display: flex;
  }
  
  .col + .col {
    margin-left: 1.5em;
  }
  
  .fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
  }
  
  .fade-in.appear {
    opacity: 1;
  }
  
  .more-stuff-grid {
    padding: 4em 0;
    display: grid;
    grid-gap: 2em;
    align-items: center;
    grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(200px, 400px)) minmax(
        1em,
        1fr
      );
  }
  
  .from-left {
    display: inline-block;
    width:100%;
  
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  
  .from-right {
    display: inline-block;
    width:100%;
  
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }
  .more-stuff-grid img{
    grid-column:2/3;
  }
  .more-stuff-grid p{
  grid-column: 3/4;
  }
  .from-left,
  .from-right {
    transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
    transition: opacity 250ms ease-in, transform 400ms ease-in;
    transition: opacity 250ms ease-in, transform 400ms ease-in,
      -webkit-transform 400ms ease-in;
    opacity: 0;
  }
  
  .from-left.appear,
  .from-right.appear {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }

  .slide h1{
    color: rgb(0, 0, 0);
    font-weight:600;
  }
  .slide p{
    font-weight: 400;
  }
  
  /* FOOTER */
  
  @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
  footer {
      padding: 60px 0;
  
      margin: 0 !important;
      bottom: 0 !important;
  }
  
  footer .footer-title {
      text-align: center;
      color: #007b5e;
      margin-bottom: 50px;
      text-transform: uppercase;
  }
  
  footer {
      background: #007b5e !important;
  
  }
  
  footer h5{
      padding-left: 10px;
      border-left: 3px solid #eeeeee;
      padding-bottom: 6px;
      margin-bottom: 20px;
      color:#ffffff;
  }
  
  footer a {
      color: #ffffff;
      text-decoration: none !important;
      background-color: transparent;
      -webkit-text-decoration-skip: objects;
  }
  
  footer ul.social li{
      padding: 3px 0;
  }
  
  footer ul.social li a i {
      margin-right: 5px;
      font-size:25px;
      -webkit-transition: .5s all ease;
      -moz-transition: .5s all ease;
      transition: .5s all ease;
  }
  footer ul.social li:hover a i {
      font-size:30px;
      margin-top:-10px;
  }
  footer ul.social li a,
  footer ul.quick-links li a{
      color:#ffffff;
  }
  footer ul.social li a:hover{
      color:#eeeeee;
  }
  footer ul.quick-links li{
      padding: 3px 0;
      -webkit-transition: .5s all ease;
      -moz-transition: .5s all ease;
      transition: .5s all ease;
  }
  footer ul.quick-links li:hover{
      padding: 3px 0;
      margin-left:5px;
      font-weight:700;
  }
  footer ul.quick-links li a i{
      margin-right: 5px;
  }
  footer ul.quick-links li:hover a i {
      font-weight: 700;
  }
  
  @media (max-width:767px){
      footer h5 {
      padding-left: 0;
      border-left: transparent;
      padding-bottom: 0px;
      margin-bottom: 10px;
  }
  }
  footer{
    margin-bottom:0  !important;
  }
  
  
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
  }
  @media (min-width: 40em) {
    
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
   .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
  @media screen and (max-width: 600px) {
      .container .row img{
        height:25vh;
        margin:.7rem auto;
      }
      .from-left {
  
        -webkit-transform: translateX(-60%);
        transform: translateX(-60%);
      }
      
      .from-right {
  
        -webkit-transform: translateX(40%);
        transform: translateX(40%);
      }
      .more-stuff-grid img{
        height: 30vh;
        width: 56vw;
        margin-left: 1rem;
        grid-column:2;
        display: inline-block;
  
      }
      .more-stuff-grid p{
      grid-column: 2;
      margin-left: 2rem;
      }
      body{
        display: inline-block;
      }
     
    }
  
  