<%- include("header.ejs")%>

<link rel="stylesheet"  href="/css/culture.css">


<section class="data">
    <img class="image" src="https://cdn.shopify.com/s/files/1/1369/1403/files/IMG_20180606_085859_864_2048x2048.jpg?v=1530809423">

     <section class="container-fluid ">
      
      <div class="row align-items-center content">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-1">Adventure</h1>
          </div>
        </div>

          <div class="col-md-6 order-2 order-md-1">
            <div class="hover">
              <img src="https://res.klook.com/images/fl_lossy.progressive,q_65/c_fill,w_1467,h_1080,f_auto/w_80,x_15,y_15,g_south_west,l_klook_water/activities/uq3p8w4lplmumxrxbkoq/RockClimbingandRappellinginCoorg.jpg" alt="" class="img-fluid">
          </div>
        </div>
          <div class="col-md-6 text-center order-1 order-md-2">
              <div class="row justify-content-center">
                  <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                      <h2>Rock Climbing</h2>
                      <p class="lead">
                          One of the best location for rock climbing in M.P. is Pachmarhi.Rock climbing across natural rock formations or artificial rock walls, The hills and ravines of Pachmarhi pose a challenge to the most intrepid of trekkers for the rock climbing
                          </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="row align-items-center content">
          <div class="col-md-6 text-center">
              <div class="row justify-content-center">
                  <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                      <h2>Boat Riding</h2>
                      <p class="lead">Upper Lake is a large lake in the city of lakes, Bhopal and known for its cruises,boat,sailing, paddle boating and motor boat riding. MP tourism Boat Club provide facilities for exciting trips</p>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
            <div class="hover hover-r">
              <img src="https://mapio.net/images-p/1859592.jpg" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="row align-items-center content">
          <div class="col-md-6 order-2 order-md-1">
            <div class="hover">
              <img src="https://media.cntraveller.in/wp-content/uploads/2018/06/River-rafting-rishikesh.jpg" alt="" class="img-fluid">
          </div>
        </div>
          <div class="col-md-6 text-center order-1 order-md-2">
              <div class="row justify-content-center">
                  <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                      <h2>River Rafting</h2>
                      <p class="lead">The challenge of a turbulent current in River Rafting Betwa river in Orchha. Orchha lies obscured from sight amidst lush green dark woods along the Betwa river.
                       </p>
                  </div>
              </div>
          </div>
      </div>
         <div class="row align-items-center content">
          <div class="col-md-6 text-center">
              <div class="row justify-content-center">
                  <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                      <h2>Wildlife Safari</h2>
                      <p class="lead">M.p. has many wildlife locations from Van Vihar,Bhopal to Kanha National Park.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
            <div class="hover hover-r">
              <img src="https://breathedreamgo.com/wp-content/uploads/2018/02/Singinawa-tiger-road.jpg" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      
      <%- include("footer.ejs")%>
  </section>
