<%- include("header.ejs")%>

<link rel="stylesheet"  href="/css/culture.css">

<section class="data">
    <img class="image" src="https://images.pexels.com/photos/3367460/pexels-photo-3367460.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">

     <section class="container-fluid ">
      
      <div class="row align-items-center content">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-1">Culture</h1>
          </div>
        </div>

          <div class="col-md-6 order-2 order-md-1">
            <div class="hover">
              <img src="images/img/dance.png" alt="" class="img-fluid">
          </div>
        </div>
          <div class="col-md-6 text-center order-1 order-md-2">
              <div class="row justify-content-center">
                  <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                      <h2>Dance</h2>
                      <p class="lead">
                          The culture of Madhya Pradesh, in true sense, is extensively recognised for its musical extravaganza and dancing rhythms.
                          </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="row align-items-center content">
          <div class="col-md-6 text-center">
              <div class="row justify-content-center">
                  <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                      <h2>Poha Jalebi</h2>
                      <p class="lead">Poha Jalebi, a signature breakfast option and a popular street food item in Madhya Pradesh</p>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
            <div class="hover hover-r">
              <img src="images/img/jalebi.jpg" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="row align-items-center content">
          <div class="col-md-6 order-2 order-md-1">
            <div class="hover">
              <img src="images/img/art.jfif" alt="" class="img-fluid">
          </div>
        </div>
          <div class="col-md-6 text-center order-1 order-md-2">
              <div class="row justify-content-center">
                  <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                      <h2>Art and Craft</h2>
                      <p class="lead">Arts and crafts of M P illustrate the tribal art form merged impeccably into the tradition of the people residing in Madhya Pradesh.
                       </p>
                  </div>
              </div>
          </div>
      </div>
         <div class="row align-items-center content">
          <div class="col-md-6 text-center">
              <div class="row justify-content-center">
                  <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                      <h2>Tribal Muesum , Bhopal</h2>
                      <p class="lead">Tribal muesum of bhopal , very famous muesum of mp.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
            <div class="hover hover-r">
              <img src="images/img/tribal.jpg" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <%- include("footer.ejs")%>
  </section>


