<%- include("header.ejs")%>

<link rel="stylesheet"  href="/css/culture.css">

<section class="data">
    <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/6/67/Khajuraho_Jeveri_Temple_2010.jpg">

     <section class="container-fluid ">
      
      <div class="row align-items-center content">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-1">Heritage</h1>
          </div>
        </div>

          <div class="col-md-6 order-2 order-md-1">
            <div class="hover">
              <img src="https://www.en.etemaaddaily.com/pages/world/national/539sanchi1_nmp220.jpg" alt="" class="img-fluid">
          </div>
        </div>
          <div class="col-md-6 text-center order-1 order-md-2">
              <div class="row justify-content-center">
                  <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                      <h2>Sanchi Stupa</h2>
                      <p class="lead">
                        Sanchi is a Buddhist complex, famous for its Great Stupa, on a hilltop at Sanchi Town in Raisen District.
                          </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="row align-items-center content">
          <div class="col-md-6 text-center">
              <div class="row justify-content-center">
                  <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                      <h2>Khajuraho</h2>
                      <p class="lead">Khajuraho is known around the world for its stunning temples adorned by erotic and sensuous carvings.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
            <div class="hover hover-r">
              <img src="https://static.toiimg.com/thumb/70192987/khajuraho.jpg?width=1200&height=900" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="row align-items-center content">
          <div class="col-md-6 order-2 order-md-1">
            <div class="hover">
              <img src="https://cdn.theculturetrip.com/wp-content/uploads/2018/02/feature-image-v1-1-1024x683.jpg" alt="" class="img-fluid">
          </div>
        </div>
          <div class="col-md-6 text-center order-1 order-md-2">
              <div class="row justify-content-center">
                  <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                      <h2>Gwalior Fort</h2>
                      <p class="lead">Referred to as 'the pearl amongst fortresses in India' by Mughal emperor Babur, the Gwalior Fort is one of the most impenetrable fortresses located in the entire northern and southern India and is a place you definitely must visit. 
                       </p>
                  </div>
              </div>
          </div>
      </div>
         <div class="row align-items-center content">
          <div class="col-md-6 text-center">
              <div class="row justify-content-center">
                  <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                      <h2>Caves Of M.P.</h2>
                      <p class="lead">If there is any place in Madhya Pradesh that hides the beauty and splendour of nature, then it would be caves. The deep and dark world of caves is fascinating. Caves of Madhya Pradesh are a rich amalgamation of history, spirituality, mystery and adventure exploration. </p>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
            <div class="hover hover-r">
              <img src="https://www.revv.co.in/blogs/wp-content/uploads/2020/09/Bagh-Caves.jpg" alt="" class="img-fluid">
          </div>
        </div>
      </div>

      <%- include("footer.ejs")%>
  </section>
