<%- include("header.ejs")%>

<link rel="stylesheet"  href="/css/culture.css">

<section class="data">
    <img class="image" src="https://thehomesteadinghippy.com/wp-content/uploads/2020/05/zone-1-forestfarming.jpg">

     <section class="container-fluid ">
      
      <div class="row align-items-center content">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-1">Nature</h1>
          </div>
        </div>

          <div class="col-md-6 order-2 order-md-1">
            <div class="hover">
              <img src="https://wallpapercave.com/wp/qXU0x4J.jpg" alt="" class="img-fluid">
          </div>
        </div>
          <div class="col-md-6 text-center order-1 order-md-2">
              <div class="row justify-content-center">
                  <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                      <h2>Van Vihar</h2>
                      <p class="lead">
                        Van Vihar National Park and Zoo is one of the most revered National Park and Zoo of Central India and is a shining beacon in the field of conservation. It is an amazing world of winged creatures, free ranging ungulates and captive carnivores in the midst of greenery.
                          </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="row align-items-center content">
          <div class="col-md-6 text-center">
              <div class="row justify-content-center">
                  <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                      <h2>Patalkot</h2>
                      <p class="lead">Patalkot is a valley in the Tamia tehsil of Chhindwara district in Madhya Pradesh, India. It's a Great spot for camping and enjoying the nature</p>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
            <div class="hover hover-r">
              <img src="https://static.langimg.com/thumb/msid-73661552,width-680,resizemode-3/patalkot-and-climate-change.jpg" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="row align-items-center content">
          <div class="col-md-6 order-2 order-md-1">
            <div class="hover">
              <img src="https://i2.wp.com/www.manjulikapramod.com/wp-content/uploads/2018/06/Pench-National-Park-is-also-called-Mowgli-land.jpg?fit=1024%2C798" alt="" class="img-fluid">
          </div>
        </div>
          <div class="col-md-6 text-center order-1 order-md-2">
              <div class="row justify-content-center">
                  <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                      <h2>Safari in Jungle</h2>
                      <p class="lead">Pench National Park is where Rudyard Kipling created the timeless, 'The Jungle Book'.Also,it's a great spot for a safari of the wildlife.
                       </p>
                  </div>
              </div>
          </div>
      </div>
         <div class="row align-items-center content">
          <div class="col-md-6 text-center">
              <div class="row justify-content-center">
                  <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                      <h2>Kapildhara waterfalls
                      </h2>
                      <p class="lead">Witness the gushing flow of water and embrace the moment as you visit Kapildhara falls in Amarkantak. The holy waters of river Narmada plunge from a height and look beautiful  This is one of the most popular spots here to plan an outing with your family and friends. </p>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
            <div class="hover hover-r">
              <img src="https://media-cdn.tripadvisor.com/media/photo-s/0d/bc/03/4c/photo.jpg" alt="" class="img-fluid">
          </div>
        </div>
      </div>

      <%- include("footer.ejs")%>
  </section>
