<%- include("header.ejs")%>

<link rel="stylesheet"  href="/css/culture.css">

<section class="data">
    <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/6/67/Khajuraho_Jeveri_Temple_2010.jpg">

     <section class="container-fluid ">
      
      <div class="row align-items-center content">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-1">Recommended Places</h1>
          </div>
        </div>

          <div class="col-md-6 order-2 order-md-1">
            <div class="hover">
              <img src="images/img/bhopal.webp" alt="" class="img-fluid">
          </div>
        </div>
          <div class="col-md-6 text-center order-1 order-md-2">
              <div class="row justify-content-center">
                  <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                      <h2>Bhopal</h2>
                      <p class="lead">
                        Capital of M.p. and the city of lake
                          </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="row align-items-center content">
          <div class="col-md-6 text-center">
              <div class="row justify-content-center">
                  <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                      <h2>Khajuraho</h2>
                      <p class="lead">Khajuraho is known around the world for its stunning temples adorned by erotic and sensuous carvings.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
            <div class="hover hover-r">
              <img src="https://static.toiimg.com/thumb/70192987/khajuraho.jpg?width=1200&height=900" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="row align-items-center content">
          <div class="col-md-6 order-2 order-md-1">
            <div class="hover">
              <img src="https://i.pinimg.com/originals/2d/26/c1/2d26c1e96cc9b6f91e06c666c85d6d26.jpg" alt="" class="img-fluid">
          </div>
        </div>
          <div class="col-md-6 text-center order-1 order-md-2">
              <div class="row justify-content-center">
                  <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                      <h2>Pachmarhi</h2>
                      <p class="lead">Home of Five caves "Panch marhi" 
                       </p>
                  </div>
              </div>
          </div>
      </div>
         <div class="row align-items-center content">
          <div class="col-md-6 text-center">
              <div class="row justify-content-center">
                  <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                      <h2>Indore</h2>
                      <p class="lead">Largest city in the state of madhya pradesh </p>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
            <div class="hover hover-r">
              <img src="https://images.thrillophilia.com/image/upload/s--X9yZIAWm--/c_fill,h_775,q_auto,w_1600/f_auto,fl_strip_profile/v1/images/photos/000/134/036/original/1539009036_thumbnail.PNG.jpg?1539009036"" alt="" class="img-fluid">
          </div>
        </div>
      </div>


      <%- include("footer.ejs")%>
  </section>

 